* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cuerpo {
    background-color: #1e1d2b;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
main {
    margin: 5px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.encabezado {
    margin-top: 10px;
    color: #fc742c;
    font-size: 26px;
    margin-left: 20px;
}

.encabezado:hover {
    margin-top: 10px;
    color: #f89f37;
    font-size: 30px;
    margin-left: 20px;
}

.banner {
    display: flex;
    justify-content: center;
}

.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .text .title {
    color: #fc742c;
    font-size: 66px;
}

.text .description {
    color: #ffffff;
    font-size: 26px;
}

.img {
    height: 400px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 300px;
}

.about-us {
    display: flex;
    justify-content: center;
    padding: 3px;
}

.about-us .text .title {
    color: #fc742c;
    font-size: 16px;
}

.about-us .subtittle {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border: #f89f37 2px solid;
    color: #fff;
    background-color: #fc742c;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    z-index: 1;
}

.carrito img {
    height: 100%;
    width: 100%;
}

.menu .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu .text .title {
    color: #fc742c;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.menu .subtittle {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.menu .text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu-cards {
    display: flex;
    gap: 10px;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
}

.service .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service .text .title {
    color: #fc742c;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.service .subtittle {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.service .text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.service-cards {
    display: flex;
    gap: 10px;
}

.Contact {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contact .card {
    background-color: #ffefe8;
    width: 80%;
    height: 300px;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

footer h5 {
    color: #fff;
    text-align: left;
}

.tittle {
    border-bottom: 2px solid #ff702a; 
    font-size: 24px;
    width: max-content;
    height: 40px; 
    line-height: 40px; 
    padding: 5px 10px 5px 0;
}

.column {
    height: 250px;
    margin: 5px;
}

.column div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column .link {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    position: relative;
}

.column .link::before {
    content: "";
    position: absolute;
    line-height: 40px; 
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #ffefe8; 
    transition: width 0.3s ease;
}

.column .link:hover::before {
    width: 100%;
}

#contact-us {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#contact-us div{
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    width: 300px;
    gap: 5px;
}

#contact-us .Us{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #ff702a;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#contact-us .Us:hover{
    background-color: #ffefe8;
    color: #1e1d2b;
}

.bx {
    width: 100%;
}

.container-row {
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
    border-bottom: #ff702a 5px solid;
}

@media (max-width: 990px) {
    .container-row{
        height: 50%;
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .banner .text {
        margin-top: 10px;
        width: 100%;
        height: 50%;
    }

    .text>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text .title {
        font-size: 56px;
    }

    .text .description,
    .text .subtittle {
        text-align: center;
    }

    .about-us {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .about-us .text {
        margin-top: 10px;
        width: 100%;
        height: 50%;
    }

    .menu-cards {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer section {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 0px;
    }

    footer{
        align-items: start;
        height: 100%;
    }
    
    footer .container-row {
        width: 300px;
        justify-content: right;
        align-items: start;
    }

    .column {
        height: 100%;
    }
}